section
{
margin: 40px;
}

footer
{
    margin: 40px;
}

h1 
{
font-size: 50px;
color: white;
padding: 15px;
text-align: center;

}

h2
{
font-size: 24px;
text-transform:uppercase;
text-align: center;
}


table {
width: 100%;
}

table tr {
    background-color: beige;  
}

table th {
    background-color: rgba(202, 166, 66, 0.596);
}

h3 {
    text-align: center;
}

caption {
    text-align: left;
}

textarea {
    width: 100%;
}
#Videos {
    padding: 15px;
}
footer {
    text-align: center;
}
